@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  /* border: 2px solid black !important; */
  /* border: 2px solid white !important; */
}
::-webkit-scrollbar{
  display: none;
}

.content {
  padding-top: 90px;
  background-color: black;
  min-height: 100vh;
  color: white;
  /* background-color: black; */

  @media screen and (max-width:751px) {
    padding-top: 232px;
    padding-bottom: unset;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ff1c0b;
}